$_red: rgb(250, 100, 100) !default;
$_green: rgb(100, 250, 100) !default;
$_blue: rgb(100, 100, 250) !default;

$_orange: rgb(250, 140, 100) !default;
$_purple: rgb(180, 100, 250) !default;
$_yellow: rgb(250, 225, 100) !default;

$_black: gray(0) !default;

$_gray1: gray(50) !default;
$_gray2: gray(100) !default;
$_gray3: gray(150) !default;
$_gray4: gray(200) !default;

$_white: gray(250) !default;

$_textColor: $gray1 !default;
$_primaryColor: $blue !default;
$_secondaryColor: $gray2 !default;
