$_mqs:(
    'x-small' : 100px,
    'small'   : 320px,
    'medium'  : 700px,
    'large'   : 1024px,
    'x-large' : 1200px,
    'xx-large': 1650px,
);

// short versions
$_mq-xs: _get($_mqs, 'x-small');
$_mq-s: _get($_mqs, 'small');
$_mq-m: _get($_mqs, 'medium');
$_mq-l: _get($_mqs, 'large');
$_mq-xl: _get($_mqs, 'x-large');
$_mq-xxl: _get($_mqs, 'xx-large');
